@charset 'utf-8';

        /* 모든 기본스타일 초기화 CSS명령어 */
        *{
            padding: 0;
            margin: 0;
        }
        body{
            font-family: sans-serif,Arial;
            background-color: #f2f2f2;
            padding: 20px;
        }
        h3{
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }
        form{
            background-color: #fff;
            padding: 20px;
            width: 550px;
            /* magin 0 auto ->상,하 여백은 0, 좌,우 여백은 auto */
            margin: 0 auto;
            border-radius: 10px;
          /*box-shadow x축 y축 번짐정도 검은색의 투명도 20%지정*/
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);            
        }
        fieldset{
            border: 1px solid #ccc;
            border-radius: 8px;
            /* padding 10px 20px => 위,아래(10px) 왼,오(20px) */
            padding: 10px 20px;
            margin: 20px;
        }
        legend{
            font-weight: bold;
            padding: 0 10px;
        }
        ul{
          list-style: none;

        }
        ul li{
            margin-bottom: 15px;
        }
        /* label 은 인라인,블록,인라인블록 태그 중 인라인 태그이다 
           인라인 태그는 너비를 가질 수 없다.
           인라인 태그를 블록이나 인라인 블록으로 변경할 수 있다.
           display : inline-block,block로 변경하는 CSS
        */
        .title{
            display: inline-block;
            width: 80px;
            font-weight: bold;
        }
        .gender_item label,
        .hobby_item label{
            margin-right: 10px;
        }
        /* 기본입력창(텍스트,이메일,비밀번호),select 박스 공통 CSS */
        input[type='text'],
        input[type='email'],
        input[type='password'],
        select{
            width: 300px;
            padding: 6px 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        input[type='text']::placeholder,
        input[type='email']::placeholder,
        input[type='password']::placeholder{
            font-size: 10px;
        }
        input[type='checkbox'],
        input[type='radio']{
            margin-right: 5px;

        }
        .btn{
            text-align: center;
        }
        .btn button[type='submit'],
        .btn button[type='reset']{
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            /* 신청,다시쓰기 버튼위에 마우스오버하면 버튼의 색을 변경하는 CSS */
            
        }
        .btn button[type='submit']{
            background-color: #4caf50;
            color: white;
        }
        .btn button[type='reset']{
            background-color: #f44336;
            color: white;
        }
        .btn button[type='submit']:hover{
            background-color: #00c500;
        }
        .btn button[type='reset']:hover{
            background-color: #ff0000;
        }
    